<div class="container">
    <form ng-submit="myFunc()">
        <div ng-show="addSuccess" class="alert alert-success">
            <h4><i class="glyphicon glyphicon-check"></i> SUCCESS</h4>
            <p>The movie has been added.</p>
            <a class="btn btn-success" href="#!/">Continue</a>
        </div>
        <div ng-show="addFailed" class="alert alert-danger">
            <h4><i class="glyphicon glyphicon-exclamation-sign" ></i> ERROR</h4>
            <p>The movie was not added due to the following error.</p>
            <p>{{failMessage}}</p>
            <a class="btn btn-danger" href="#!/">Continue</a>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 text-right">Title</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="title" required />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 text-right">Genre</label>
            <div class="col-md-10">

                <select class="form-control" ng-model="genre.Id" ng-options="item.Title for item in genres track by item.GenreId" required>
                    <option value="">Select Genre</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 text-right">Sub Genre</label>
            <div class="col-md-10">
                <select class="form-control" ng-model="subgenre.Id" multiple ng-options="item.SubGenreId as item.Title for item in subgenres" required>

                    <option value="">Select Sub-Genre</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 text-right">Director Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="director.name" ng-keyup="findDirector()" required />
                <div class="btn-group-vertical" role="group">
                    <div class="btn btn-default" ng-repeat="director in directors" ng-click="setDirector(director.Name)">
                        {{director.Name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 text-right">Release Date</label>
            <div class="col-md-10">
                <input type="date" class="form-control" ng-model="released" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 text-right">Run Time</label>
            <div class="col-md-10">
                <input type="number" class="form-control" ng-model="length" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 text-right">Poster URL</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="posterUrl" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 text-right">Description</label>
            <div class="col-md-10">
                <textarea class="form-control" ng-model="description" required></textarea>
            </div>
        </div>
        <div ng-show="processingRequest">
            <input class="btn btn-default" type="submit" value="Create"> <a class="btn btn-default" href="#!/">Cancel</a>
        </div>
    </form>
    </div>