<div ng-show="errorDialog" class="alert alert-danger">
    <h4><i class="glyphicon glyphicon-exclamation-sign"></i> ERROR</h4>
    <p>{{errorMessage}}</p>
</div>
<div ng-hide="errorDialog">
    <div class="row">
        <div class="col-md-12">
            SORT BY :
            <div class="btn btn-xs btn-default" ng-click="changeSortCol('title')">TITLE <i ng-show="showSortCol('title','asc')" class="glyphicon glyphicon-chevron-down"></i><i ng-show="showSortCol('title','desc')" class="glyphicon glyphicon-chevron-up"></i></div>
            <div class="btn btn-xs btn-default" ng-click="changeSortCol('genre')">GENRE <i ng-show="showSortCol('genre','asc')" class="glyphicon glyphicon-chevron-down"></i><i ng-show="showSortCol('genre','desc')" class="glyphicon glyphicon-chevron-up"></i></div>
            <div class="btn btn-xs btn-default" ng-click="changeSortCol('director')">DIRECTOR <i ng-show="showSortCol('director','asc')" class="glyphicon glyphicon-chevron-down"></i><i ng-show="showSortCol('director','desc')" class="glyphicon glyphicon-chevron-up"></i></div>
            <div class="btn btn-xs btn-default" ng-click="changeSortCol('length')">LENGTH <i ng-show="showSortCol('length','asc')" class="glyphicon glyphicon-chevron-down"></i><i ng-show="showSortCol('length','desc')" class="glyphicon glyphicon-chevron-up"></i></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 movieGrid">
            <div ng-repeat="movie in movies">
                <a ng-click="viewMovieDetails($index)"><img class="img-responsive" ng-src="{{movie.PosterUrl}}" /><h4>{{movie.Title}}</h4></a>
                <div>{{movie.Genre.Title}}</div>
                <div>{{movie.Director.Name}}</div>
                <div>{{movie.Length}} mins</div>
                <div><a href="#!/edit?id={{movie.MovieId}}">edit</a> | <a ng-click="deleteMovie(movie.MovieId,movie.Title)">delete</a></div>
            </div>

        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-repeat="n in [] | range:totalPages">
                <a ng-click="getAll(sortCol,$index)">{{$index+1}}</a>
            </li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div id="movieDetailsModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{selectedMovie.Title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <span ng-if="!selectedMovie.PosterUrl">No Poster Available</span>
                            <img ng-if="selectedMovie.PosterUrl" class="img-responsive" ng-src="{{selectedMovie.PosterUrl}}" />
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            <p>Director: {{selectedMovie.Director.Name}}</p>
                            <p>Release Date: {{selectedMovie.DateReleased |date:'MM/dd/yyyy'}}</p>
                            <p>Running Time: {{selectedMovie.Length}} mins</p>
                            <p>Genre: <span class="label label-default">{{selectedMovie.Genre.Title}}</span></p>
                            <p>Sub-Genre: <span class="label label-default" ng-repeat="subGenre in selectedMovie.SubGenres">{{subGenre.Title}}</span></p>
                            <hr />
                            <p>{{selectedMovie.Description}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>