body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#000;
    color:#fff;
}

a {
color:gold;
}
a:hover{
    color:yellow;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.modal {
color:#000;
}

   .movieGrid {
  display: grid;
  grid-template-columns: 1fr;
   grid-row-gap: 25px;
}

    .movieGrid .gridItem a{
        cursor:pointer;
    }
.labels {
    margin:5px;
}
.sortMenu {
padding:15px 0px 15px 0px;
}
   @media (min-width: 576px) and (max-width:768px) { 
         .movieGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
   grid-row-gap: 25px;
}
   }

@media (min-width: 768px) and (max-width:991px) { 
      .movieGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-row-gap: 25px;
}
}

@media (min-width: 992px) and (max-width:1199px) { 
      .movieGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-row-gap: 25px;
}
}

@media (min-width: 1200px) { 
         .movieGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-row-gap: 25px;
}

}