body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#000;
    color:#fff;
}

a {
color:gold;
}
a:hover{
    color:yellow;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.modal {
color:#000;
}