<div data-ng-app="moviesApp">
    <div class="container" ng-view>
    </div>
</div>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/MovieScripts/module.js"></script>
<script src="~/Scripts/MovieScripts/service.js"></script>
<script src="~/Scripts/MovieScripts/controller.js"></script>